# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# AVR Compilation Files
*.eep
*.elf
*.hex
*.lst
*.map
*.dep
*.lss
*.sym
